* { 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    background-color: #b1ffab; 
}


header {
    padding:2rem 5rem 2rem; ;
    display: flex;
    flex-direction: column;
    align-items:end;
}

.container {
    width: 90%;
    height: 80%;
    margin: 0 5rem;
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    gap: 1rem;
    
    
    
}

.btn-link {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;    
    justify-content: center;
    align-items: center;    
    border: 2px solid gray;
    border-radius: 10px;
    width: 200px;
    height:200px ;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}

a.btn-link:hover {
    text-decoration: underline;
    background-color: #12b206;
    
}


a:visited {
    color: rgba(0, 0, 0, 0.36);
}



a:active{
   
    font-size: 0.9rem;
}

footer {
    
    margin:  0 5rem 2rem;
    font-size: 20px;    
    display: flex;
    flex-direction: column;
    align-items:end;
    font-weight: bold;
    
}
