* { 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    background-color: #b1ffab; 
    font-weight: bold;
}

header {
    padding:2rem 5rem 2rem; ;
    display: flex;
    flex-direction: column;
    align-items:end;
}


.container {
    width: 80%;
    height: 70%;
    margin: 5px 50px;
    padding: 2rem 4rem;
    align-items: left;
    gap: 0.5rem;
       
}

h2 {
    margin-bottom:1.5rem ;
}

input {
    
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 32rem;
    height: 1.5rem;
    margin-bottom:15px;
    padding-left: 5px;
    
   
}

.btn {
    display: flex;
    flex-direction: row;
    margin: 1rem 33rem;
    font-size: 14px;
    font-weight: bold;    
    border: none; 
    cursor: pointer;
    
    cursor: pointer;
    border: none;
      
}

.button {
    display: flex;
    flex-direction: row;
    margin: 1rem 33rem;
    font-size: 14px;
    gap: 2rem;


}
  

.consulta {
    margin: 2rem 10px auto 0;
}



footer {
    
    margin:  2rem 5rem 2rem;
    font-size: 20px;    
    display: flex;
    flex-direction: column;
    align-items:start;
    font-weight: bold;
    
}

a:link {
    text-decoration: none;
    border: none;
    color: black;
}

a:visited {
    color: rgba(0, 0, 0, 0.36);
}

a:hover {
    text-decoration: underline;
    
}
a:active{
   font-size: 0.8rem}